.bandGap_metal{color:black}
.bandGap_semiconctor{color: rgb(128, 6, 6)}
.bandGap_insulator{color: red}

/*I have to admit that I cannot see all colors in single px*/
.scaled{
    transform: scale(2);
    margin: 100px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    width: max-content;
  }

  .item1 {
    grid-row-start: 2;   
  }